# Connector for Finnhub 

In this example, we will be going over how to use Connector with Finnhub.

## Prerequisites

connector is a component in the dataprep library that aims to simplify the data access by providing a standard API set. The goal is to help the users skip the complex API configuration. In this tutorial, we demonstrate how to use connector library with Finnhub.

If you haven't installed dataprep, run command `pip install dataprep` or execute the following cell.

In [ ]:
# Run me if you'd like to install
#!pip install dataprep

# Obtaining access token from Finnhub

1. In order for you to get the Finnhub API working, you need to first create an account on the website to get an API key. Create an account [here](https://finnhub.io/register) with your email address. 


2. Upon registering yourself on Finnhub, you will be redirected automatically to the [Finnhub Dashboard](https://finnhub.io/dashboard) where you can view your API key. This API key will be used to search data from Finnhub using Connector.

In [2]:
from dataprep.connector import Connector

auth_token = '<Insert your token>'
dc = Connector('finnhub', _auth={"access_token":auth_token})
dc

# Functionalities

Connector has several functions you can perform to gain insight on the data downloaded from Finnhub.

### Connector.info
The info method gives information and guidelines of using the connector. There are 3 sections in the response and they are table, parameters and examples.
>1. Table - The table(s) being accessed.
>2. Parameters - Identifies which parameters can be used to call the method. For more details on what these parameters mean, please visit the [Finnhub API Documentation](https://finnhub.io/docs/api).
>3. Examples - Shows how you can call the methods in the Connector class.

In [4]:
dc.info()

Table finnhub.covid19

Parameters
----------



Examples
--------
>>> dc.query("covid19")
>>> dc.show_schema("covid19")

Table finnhub.earnings

Parameters
----------
symbol required
limit optional

Examples
--------
>>> dc.query("earnings", symbol="word1")
>>> dc.show_schema("earnings")

Table finnhub.filings

Parameters
----------

symbol, cik, accessNumber, form, from, to optional

Examples
--------
>>> dc.query("filings")
>>> dc.show_schema("filings")

Table finnhub.earnings_calender

Parameters
----------

symbol, from_, to, international optional

Examples
--------
>>> dc.query("earnings_calender")
>>> dc.show_schema("earnings_calender")

Table finnhub.economic_calender

Parameters
----------



Examples
--------
>>> dc.query("economic_calender")
>>> dc.show_schema("economic_calender")

Table finnhub.countries

Parameters
----------



Examples
--------
>>> dc.query("countries")
>>> dc.show_schema("countries")

Table finnhub.patterns

Parameters
----------
symbol, resolution required


Examples
--------
>>> dc.query("patterns", symbol="word1", resolution="word2")
>>> dc.show_schema("patterns")

Table finnhub.ipo_calender

Parameters
----------
from_, to required


Examples
--------
>>> dc.query("ipo_calender", from_="word1", to="word2")
>>> dc.show_schema("ipo_calender")

Table finnhub.recommendations

Parameters
----------
symbol required


Examples
--------
>>> dc.query("recommendations", symbol="word1")
>>> dc.show_schema("recommendations")

Table finnhub.general_news

Parameters
----------
category required
minId optional

Examples
--------
>>> dc.query("general_news", category="word1")
>>> dc.show_schema("general_news")

Table finnhub.company_news

Parameters
----------
symbol, from_, to required


Examples
--------
>>> dc.query("company_news", symbol="word1", from_="word2", to="word3")
>>> dc.show_schema("company_news")

### Connector.show_schema
The show_schema method returns the schema of the website data to be returned in a Dataframe. There are two columns in the response. The first column is the column name and the second is the datatype.

As an example, lets see what is in the general_news table.

In [4]:
dc.show_schema("general_news")

table: general_news

  column_name data_type
0    category    string
1    datetime       int
2    headline    string
3          id       int
4       image    string
5     related    string
6      source    string
7     summary    string
8         url    string

### Connector.query
The query method downloads the website data and displays it in a Dataframe. The parameters must meet the requirements as indicated in connector.info for the operation to run.

When the data is received from the server, it will either be in a JSON or XML format. The connector reformats the data in pandas Dataframe for the convenience of downstream operations.

As an example, let's try to fetch some data on Stock Fundamentals, Stock Estimates, Technical Analysis, Economic Data and more!

#### Stock Fundamentals

In [3]:
# category = general/forex/crypto/merger
df = await dc.query('general_news', category='crypto')
df

,category,datetime,headline,id,image,related,source,summary,url
0,crypto,1602453960,Fans voting with tokens pick a winning team,5430725,https://res.cloudinary.com/whirlpooldata/image...,,Cointelegraph,Fans chose the formation and the attacking lin...,https://cointelegraph.com/news/fans-voting-wit...
1,crypto,1602452771,Crypto Long & Short: A U.K. Ban on Crypto Deri...,5430623,https://static.coindesk.com/wp-content/uploads...,,CoinDesk,The FCA’s retail investor crypto derivatives b...,https://www.coindesk.com/fca-ban-crypto-deriva...
2,crypto,1602446435,Data encryption a threat to fighting child sex...,5430414,https://res.cloudinary.com/whirlpooldata/image...,,Cointelegraph,"The department, along with other international...",https://cointelegraph.com/news/data-encryption...
3,crypto,1602443340,Top 5 cryptocurrencies to watch this week: BTC...,5430109,https://res.cloudinary.com/whirlpooldata/image...,,Cointelegraph,Bitcoin price could achieve a new 2020 high if...,https://cointelegraph.com/news/top-5-cryptocur...
4,crypto,1602442833,"Bitcoin rallies, McAfee compares prison to Hil...",5430110,https://res.cloudinary.com/whirlpooldata/image...,,Cointelegraph,"The best (and worst) quotes, adoption and regu...",https://cointelegraph.com/magazine/2020/10/11/...
5,crypto,1602442800,"Signal, Noise and the Coming Era of AI Curation",5430108,https://static.coindesk.com/wp-content/uploads...,,CoinDesk,"On this ""Speaking of Bitcoin"" episode, join ho...",https://www.coindesk.com/ai-curation-speaking-...
6,crypto,1602439078,Pelosi Says Stimulus Talks at Impasse; Trump B...,5429905,https://static.coindesk.com/wp-content/uploads...,,CoinDesk,The House Speaker says the president's recentl...,https://www.coindesk.com/pelosi-says-stimulus-...
7,crypto,1602435300,Group raising funds to sue Andre Cronje over E...,5429708,https://res.cloudinary.com/whirlpooldata/image...,,Cointelegraph,"Cronje may have gone silent on Twitter, but it...",https://cointelegraph.com/news/group-raising-f...
8,crypto,1602432148,More investors HODL Bitcoin in anticipation of...,5429502,https://res.cloudinary.com/whirlpooldata/image...,,Cointelegraph,On-chain data shows a rise in HODLing among re...,https://cointelegraph.com/news/more-investors-...
9,crypto,1602431798,Ripple’s Larsen Says US Risks Losing Stewardsh...,5429501,https://static.coindesk.com/wp-content/uploads...,,CoinDesk,"Chris Larsen, Ripple co-founder and chairman o...",https://www.coindesk.com/ripples-larsen-says-u...
10,crypto,1602429540,Spanish lawmakers get cryptocurrency in a bid ...,5429300,https://res.cloudinary.com/whirlpooldata/image...,,Cointelegraph,All 350 members of Spain’s lower house got 1 e...,https://cointelegraph.com/news/spanish-lawmake...
11,crypto,1602423000,NFT and crypto art can magnify the truth of ou...,5428993,https://res.cloudinary.com/whirlpooldata/image...,,Cointelegraph,There are already enough signs to say that the...,https://cointelegraph.com/news/nft-and-crypto-...
12,crypto,1602421200,Is Bitcoin More Correlated to Stocks or Gold?,5428892,https://static.coindesk.com/wp-content/uploads...,,CoinDesk,"According to analyst Lyn Alden, bitcoin's corr...",https://www.coindesk.com/bitcoin-correlated-st...
13,crypto,1602403200,Wolf of Wall Street on steroids: DeFi may be a...,5427896,https://res.cloudinary.com/whirlpooldata/image...,,Cointelegraph,We’re in the middle of the greatest wealth tra...,https://cointelegraph.com/news/wolf-of-wall-st...
14,crypto,1602383345,Coinbase Senior Software Engineer Left This We...,5426807,https://static.coindesk.com/wp-content/uploads...,,CoinDesk,"Andrei Anisimov, whose LInkedIn profile still ...",https://www.coindesk.com/coinbase-senior-engin...
15,crypto,1602370759,Ethereum miners made 450K ETH from high networ...,5426115,https://res.cloudinary.com/whirlpooldata/image...,,Cointelegraph,On-chain data shows Ethereum miners saw a 39% ...,https://cointelegraph.com/news/ethereum-miners...
16,crypto,1602367800,OneCoin movie starring Kate Winslet coming soon,5425916,https://res.cloudinary.com/whirlpooldata/image...,,Cointelegraph,If the courtroom drama of OneCoin is not enoug...,https://cointelegraph.com/news/onecoin-movie-s...
17,crypto,1602362531,Shenzhen Giving Away Millions in Digital Yuan ...,5425621,https://static.coindesk.com/wp-content/uploads...,,CoinDesk,The promotion is part of China's efforts to tr...,https://www.coindesk.com/shenzhen-giving-away-...
18,crypto,1602358800,Payments firm Rocketfuel Blockchain sues co-fo...,5425423,https://res.cloudinary.com/whirlpooldata/image...,,Cointelegraph,The blockchain payments company said it unknow...,https://cointelegraph.com/news/payments-firm-r...
19,crypto,1602356400,"The Potential Ripple Effects of Ethereum 2.0, ...",5425322,https://static.coindesk.com/wp-content/uploads...,,CoinDesk,CoinDesk’s Christine Kim spoke to colleagues M...,https://www.coindesk.com/eth-2-podcast-unanswe...

In [4]:
df = await dc.query('company_news', symbol='AAPL', from_='2020-04-01', to='2020-05-01')
df

,category,datetime,headline,id,image,related,source,summary,url
0,company,1588377600,WhatsApp Suddenly Gets Powerful New Security B...,691320,https://thumbor.forbes.com/thumbor/fit-in/1200...,AAPL,https://www.forbes.com,WhatsApp has been seriously boosted this week—...,https://www.forbes.com/sites/zakdoffman/2020/0...
1,company,1588377600,2020 iPhone Alert: Apple’s New Price Changes R...,691319,https://thumbor.forbes.com/thumbor/fit-in/1200...,AAPL,https://www.forbes.com,Apple's most exciting iPhone 12 change is a sh...,https://www.forbes.com/sites/gordonkelly/2020/...
2,company,1588377600,Forget Google—Huawei Plans A Killer New Update...,691318,https://thumbor.forbes.com/thumbor/fit-in/1200...,AAPL,https://www.forbes.com,Is this enough to make you switch away from Go...,https://www.forbes.com/sites/zakdoffman/2020/0...
3,company,1588377600,Apple Watch Series 6 Leak Details 5 Great Inno...,687591,https://thumbor.forbes.com/thumbor/fit-in/1200...,AAPL,https://www.forbes.com,"A leak, confirmed by one of the hottest tipste...",https://www.forbes.com/sites/davidphelan/2020/...
4,company,1588377600,Market Slides More Than 2% to Begin May,666265,https://i-invdn-com.akamaized.net/redesign/ima...,AAPL,investing,Stocks Analysis by Zacks Investment Research c...,https://www.investing.com/analysis/market-slid...
...,...,...,...,...,...,...,...,...,...
195,company news,1588331340,"Forget a 1-for-12 Split, Aurora Stock May as W...",629448,https://investorplace.com/wp-content/uploads/2...,AAPL,INVESTORPLACE,Aurora Cannabis (NYSE:ACB) trades below $1. To...,https://investorplace.com/2020/05/forget-1-for...
196,company,1588331305,Futures slide as Trump threatens new tariffs o...,20617,https://s3.reutersmedia.net/resources/r/?m=02&...,AAPL,reuters,U.S. stock index futures slid on Friday after ...,https://www.reuters.com/article/us-usa-stocks/...
197,company,1588331100,Apple Just Announced a Dividend Increase | The...,55079783,https://g.foolcdn.com/editorial/images/570752/...,AAPL,https://www.fool.com,The dividend hike during this pandemic demonst...,https://www.fool.com/investing/2020/05/01/appl...
198,company news,1588331100,Apple Just Announced a Dividend Increase,629449,https://g.foolcdn.com/editorial/images/570752/...,AAPL,FOOL,The dividend hike during this pandemic demonst...,https://www.fool.com/investing/2020/05/01/appl...
199,company,1588330811,Bitcoin Rises Back to $8.8K Even as US Stock F...,691450,https://static.coindesk.com/wp-content/uploads...,AAPL,https://www.coindesk.com,"While bitcoin is rising so far on Friday, the ...",https://www.coindesk.com/bitcoin-rises-8-8k-fu...

In [5]:
df = await dc.query('filings', symbol='AAPL')
df

,accessNumber,symbol,cik,form,filedDate,acceptedDate,reportUrl,filingUrl
0,0000320193-20-000084,AAPL,320193,4,2020-10-05 00:00:00,2020-10-05 18:33:56,https://www.sec.gov/Archives/edgar/data/320193...,https://www.sec.gov/Archives/edgar/data/320193...
1,0000320193-20-000083,AAPL,320193,4,2020-10-05 00:00:00,2020-10-05 18:32:48,https://www.sec.gov/Archives/edgar/data/320193...,https://www.sec.gov/Archives/edgar/data/320193...
2,0000320193-20-000082,AAPL,320193,4,2020-10-05 00:00:00,2020-10-05 18:30:48,https://www.sec.gov/Archives/edgar/data/320193...,https://www.sec.gov/Archives/edgar/data/320193...
3,0000320193-20-000078,AAPL,320193,4,2020-09-29 00:00:00,2020-09-29 18:36:50,https://www.sec.gov/Archives/edgar/data/320193...,https://www.sec.gov/Archives/edgar/data/320193...
4,0000320193-20-000077,AAPL,320193,4,2020-09-29 00:00:00,2020-09-29 18:35:51,https://www.sec.gov/Archives/edgar/data/320193...,https://www.sec.gov/Archives/edgar/data/320193...
...,...,...,...,...,...,...,...,...
245,0001193125-14-271698,AAPL,320193,8-K,2014-07-17 00:00:00,2014-07-17 16:39:12,https://www.sec.gov/Archives/edgar/data/320193...,https://www.sec.gov/Archives/edgar/data/320193...
246,0001193125-14-228798,AAPL,320193,8-K,2014-06-06 00:00:00,2014-06-06 16:31:06,https://www.sec.gov/Archives/edgar/data/320193...,https://www.sec.gov/Archives/edgar/data/320193...
247,0001181431-14-022494,AAPL,320193,4,2014-06-03 00:00:00,2014-06-03 18:31:07,https://www.sec.gov/Archives/edgar/data/320193...,https://www.sec.gov/Archives/edgar/data/320193...
248,0001181431-14-022493,AAPL,320193,4,2014-06-03 00:00:00,2014-06-03 18:30:40,https://www.sec.gov/Archives/edgar/data/320193...,https://www.sec.gov/Archives/edgar/data/320193...
249,0001181431-14-021923,AAPL,320193,8-K,2014-05-30 00:00:00,2014-05-30 17:23:51,https://www.sec.gov/Archives/edgar/data/320193...,https://www.sec.gov/Archives/edgar/data/320193...

In [6]:
df = await dc.query('ipo_calender', from_='2020-01-01', to='2020-04-30')
df

,date,exchange,name,numberOfShares,price,status,symbol,totalSharesValue
0,2020-04-30,None,Vontier Corp,NaN,None,withdrawn,None,NaN
1,2020-04-30,NYSE,Fortress Value Acquisition Corp.,30000000.0,10.00,priced,FVACU,300000000.0
2,2020-04-28,NYSE,Social Capital Hedosophia Holdings Corp. II,36000000.0,10.00,priced,IPOBU,360000000.0
3,2020-04-24,None,"Father Time, Inc.",NaN,None,withdrawn,None,NaN
4,2020-04-24,None,"SeqLL, Inc.",NaN,None,withdrawn,None,NaN
...,...,...,...,...,...,...,...,...
74,2020-01-08,None,"Ardent Health Partners, LLC",NaN,None,withdrawn,None,NaN
75,2020-01-06,None,"Arcutis Biotherapeutics, Inc.",NaN,None,filed,ARQT,159375000.0
76,2020-01-03,None,"Black Diamond Therapeutics, Inc.",NaN,None,filed,BDTX,201140004.0
77,2020-01-03,None,1life Healthcare Inc,NaN,None,filed,ONEM,245000000.0
78,2020-01-02,None,"AVADIM HEALTH, INC.",NaN,None,filed,AHI,92000000.0

#### Stock Estimates

In [8]:
df = await dc.query('recommendations', symbol='AAPL')
df

    buy  hold      period  sell  strongBuy  strongSell symbol
0    24     7  2020-10-01     0         13           0   AAPL
1    19    10  2020-09-01     2         13           2   AAPL
2    20     8  2020-08-01     2         14           0   AAPL
3    13    19  2020-07-01     3         15           0   AAPL
4    13    19  2020-06-01     3         15           0   AAPL
5    20     8  2020-05-01     3         14           0   AAPL
6    13    19  2020-04-01     3         15           0   AAPL
7    13    19  2020-03-01     3         15           0   AAPL
8    13    19  2020-02-01     3         15           0   AAPL
9    13    19  2020-01-01     3         15           0   AAPL
10   13    19  2019-12-01     3         15           0   AAPL
11   13    19  2019-11-01     3         15           0   AAPL
12   13    19  2019-10-01     3         15           0   AAPL
13   13    19  2019-09-01     3         15           0   AAPL
14   13    19  2019-08-01     3         15           0   AAPL
15   13    19  2019-07-01     3         15           0   AAPL
16   10    20  2019-06-01     2         15           0   AAPL
17   10    22  2019-05-01     1         15           0   AAPL
18   10    22  2019-04-01     1         15           0   AAPL
19   10    22  2019-03-01     1         15           0   AAPL
20   10    22  2019-02-01     1         15           0   AAPL
21   14    18  2019-01-01     0         17           0   AAPL

In [9]:
df = await dc.query('earnings', symbol='AAPL')
df

   actual  estimate      period symbol
0    0.64    0.5202  2020-06-30   AAPL
1    0.64    0.5712  2020-03-31   AAPL
2    1.25    1.1628  2019-12-31   AAPL
3    0.76    0.7242  2019-09-30   AAPL

In [11]:
df = await dc.query('earnings_calender', from_="2020-03-12", to="2020-03-15")
df

,date,epsActual,epsEstimate,hour,quarter,revenueActual,revenueEstimate,symbol,year
0,2020-03-13,-0.030,0.000000,amc,4,0.000000e+00,0.000000e+00,THCB,2019
1,2020-03-13,0.073,0.000000,amc,4,5.216000e+06,0.000000e+00,PER,2019
2,2020-03-13,-0.010,0.000000,amc,4,0.000000e+00,0.000000e+00,GMHI,2019
3,2020-03-13,-0.270,0.000000,amc,4,1.110000e+05,0.000000e+00,CDZI,2019
4,2020-03-13,0.230,0.000000,amc,4,1.036000e+07,0.000000e+00,PICO,2019
...,...,...,...,...,...,...,...,...,...
215,2020-03-12,5.250,5.928546,amc,1,5.858000e+09,6.090000e+09,AVGO,2020
216,2020-03-12,-0.100,0.051000,amc,4,2.161000e+07,1.742755e+07,ASUR,2019
217,2020-03-12,-0.040,0.056355,amc,4,2.519910e+08,2.670566e+08,AGRO,2019
218,2020-03-12,0.090,0.079815,amc,4,6.097000e+07,6.215860e+07,AGFS,2019
219,2020-03-12,2.270,2.691739,amc,1,3.091000e+09,3.095750e+09,ADBE,2020

#### Technical Analysis

In [12]:
df = await dc.query('patterns', symbol='AAPL', resolution='D')
df

,aprice,atime,bprice,btime,cprice,ctime,dprice,dtime,end_price,end_time,...,patterntype,profit1,profit2,sortTime,start_price,start_time,status,stoploss,symbol,terminal
0,118.830002,1600128000,103.099998,1600646400,117.629997,1601510400,112.220001,1601596800,NaN,NaN,...,bearish,98.516665,0.000000,1601596800,NaN,NaN,complete,118.948832,AAPL.US,0.0
1,103.099998,1600646400,112.860001,1600732800,105.000000,1600905600,0.000000,0,112.860001,1.601251e+09,...,bullish,122.620003,0.000000,1601251200,112.860001,1.600214e+09,complete,102.123998,AAPL.US,0.0
2,99.250000,1595289600,91.341139,1595289600,95.581434,1595894400,87.672573,1595894400,NaN,NaN,...,bullish,103.490295,132.491434,1595894400,NaN,NaN,success,87.672573,AAPL.US,0.0

#### Alternative Data

In [13]:
df = await dc.query('covid19')
df

                        state    case  death              updated
0                    New York  471235  33214  2020-10-07 00:01:27
1                  New Jersey  208775  16257  2020-10-07 00:01:27
2                  California  835976  16187  2020-10-07 00:01:27
3                    Michigan  142726   7142  2020-10-07 00:01:27
4                     Florida  720130  14781  2020-10-07 00:01:27
..                        ...     ...    ...                  ...
57              Wuhan Evacuee       4      0  2020-10-07 00:01:27
58   Northern Mariana Islands      31      2  2020-10-07 00:01:27
59                US Military   68515     98  2020-10-07 00:01:27
60  Federal Bureau of Prisons   17141    127  2020-10-07 00:01:27
61             Veteran Affair   62571   3466  2020-10-07 00:01:27

[62 rows x 4 columns]

#### Economic Data

In [14]:
df = await dc.query('countries')
df

,country,code2,code3,codeNo,currency,currencyCode
0,Nauru,NR,NRU,520,Australian Dollars,AUD
1,Saint Martin (French part),MF,MAF,663,Netherlands Antillean guilder,ANG
2,Georgia,GE,GEO,268,Lari,GEL
3,Antarctica,AQ,ATA,10,Antarctican dollar,AQD
4,Saint Vincent and the Grenadines,VC,VCT,670,East Caribbean Dollar,XCD
...,...,...,...,...,...,...
244,Cook Islands (the),CK,COK,184,New Zealand Dollars,NZD
245,Peru,PE,PER,604,Nuevo Sol,PEN
246,Martinique,MQ,MTQ,474,Euros,EUR
247,Senegal,SN,SEN,686,CFA Franc BCEAO,XOF
248,Montenegro,ME,MNE,499,Euro,EUR

In [15]:
df = await dc.query('economic_calender')
df

,actual,country,estimate,event,impact,prev,time,unit
0,49.30,JP,NaN,Japan-Economy Watchers-Economy Watchers Poll SA*,low,43.90,2020-10-08 05:00:00,Index (diffusion)
1,3.30,CH,3.4,Switzerland-Jobless-Unemployment Rate Adj,low,3.40,2020-10-08 05:45:00,%
2,3.20,CH,3.3,Switzerland-Jobless-Unemployment Rate Unadj,low,3.30,2020-10-08 05:45:00,%
3,9.01,GB,NaN,United Kingdom-Comprehensive Risk-Overall Comp...,low,9.01,2020-10-08 09:00:00,Indicator
4,NaN,GB,NaN,United Kingdom-Labor Mkt-Labour Productivity*,low,-0.60,2020-10-08 09:00:00,%
...,...,...,...,...,...,...,...,...
274,NaN,US,NaN,United States-Business inventories-Retail Inve...,low,0.60,2020-10-16 14:00:00,%
275,NaN,US,NaN,"United States-Net flows-Foreign Buying, T-Bonds",low,-22.80,2020-10-16 20:00:00,USD
276,NaN,US,NaN,"United States-Net flows-Net L-T Flows,Exswaps",low,10.80,2020-10-16 20:00:00,USD
277,NaN,US,NaN,"United States-Net flows-Net L-T Flows,Incl.Swaps",low,-29.00,2020-10-16 20:00:00,USD
278,NaN,US,NaN,United States-Net flows-Overall Net Capital Flows,low,-88.70,2020-10-16 20:00:00,USD

# That's all for now. 
If you are interested in writing your own configuration file or modify an existing one, refer to the [Configuration Files](https://github.com/sfu-db/DataConnectorConfigs>).