# Connector for Finnhub 

In this example, we will be going over how to use Connector with Finnhub.

## Prerequisites

connector is a component in the dataprep library that aims to simplify the data access by providing a standard API set. The goal is to help the users skip the complex API configuration. In this tutorial, we demonstrate how to use connector library with Finnhub.

If you haven't installed dataprep, run command `pip install dataprep` or execute the following cell.

In [ ]:
# Run me if you'd like to install
#!pip install dataprep

In [2]:
%reload_ext autoreload
%autoreload 2

import sys
sys.path.append("/home/pallavi/git/ra/dataprep")

# Obtaining access token from Finnhub

1. In order for you to get the Finnhub API working, you need to first create an account on the website to get an API key. Create an account [here](https://finnhub.io/register) with your email address. 


2. Upon registering yourself on Finnhub, you will be redirected automatically to the [Finnhub Dashboard](https://finnhub.io/dashboard) where you can view your API key. This API key will be used to search data from Finnhub using Connector.

In [5]:
from dataprep.connector import Connector

auth_token = '<Your API Key>'
dc = Connector('finnhub', _auth={"access_token":auth_token})

dc

# Functionalities

Connector has several functions you can perform to gain insight on the data downloaded from Finnhub.

### Connector.info
The info method gives information and guidelines of using the connector. There are 3 sections in the response and they are table, parameters and examples.
>1. Table - The table(s) being accessed.
>2. Parameters - Identifies which parameters can be used to call the method. For more details on what these parameters mean, please visit the [Finnhub API Documentation](https://finnhub.io/docs/api).
>3. Examples - Shows how you can call the methods in the Connector class.

In [4]:
dc.info()

Table finnhub.covid19

Parameters
----------



Examples
--------
>>> dc.query("covid19")
>>> dc.show_schema("covid19")

Table finnhub.earnings

Parameters
----------
symbol required
limit optional

Examples
--------
>>> dc.query("earnings", symbol="word1")
>>> dc.show_schema("earnings")

Table finnhub.filings

Parameters
----------

symbol, cik, accessNumber, form, from, to optional

Examples
--------
>>> dc.query("filings")
>>> dc.show_schema("filings")

Table finnhub.earnings_calender

Parameters
----------

symbol, from_, to, international optional

Examples
--------
>>> dc.query("earnings_calender")
>>> dc.show_schema("earnings_calender")

Table finnhub.economic_calender

Parameters
----------



Examples
--------
>>> dc.query("economic_calender")
>>> dc.show_schema("economic_calender")

Table finnhub.countries

Parameters
----------



Examples
--------
>>> dc.query("countries")
>>> dc.show_schema("countries")

Table finnhub.patterns

Parameters
----------
symbol, resolution required


Examples
--------
>>> dc.query("patterns", symbol="word1", resolution="word2")
>>> dc.show_schema("patterns")

Table finnhub.ipo_calender

Parameters
----------
from_, to required


Examples
--------
>>> dc.query("ipo_calender", from_="word1", to="word2")
>>> dc.show_schema("ipo_calender")

Table finnhub.recommendations

Parameters
----------
symbol required


Examples
--------
>>> dc.query("recommendations", symbol="word1")
>>> dc.show_schema("recommendations")

Table finnhub.general_news

Parameters
----------
category required
minId optional

Examples
--------
>>> dc.query("general_news", category="word1")
>>> dc.show_schema("general_news")

Table finnhub.company_news

Parameters
----------
symbol, from_, to required


Examples
--------
>>> dc.query("company_news", symbol="word1", from_="word2", to="word3")
>>> dc.show_schema("company_news")

### Connector.show_schema
The show_schema method returns the schema of the website data to be returned in a Dataframe. There are two columns in the response. The first column is the column name and the second is the datatype.

As an example, lets see what is in the general_news table.

In [4]:
dc.show_schema("general_news")

table: general_news

  column_name data_type
0    category    string
1    datetime       int
2    headline    string
3          id       int
4       image    string
5     related    string
6      source    string
7     summary    string
8         url    string

### Connector.query
The query method downloads the website data and displays it in a Dataframe. The parameters must meet the requirements as indicated in connector.info for the operation to run.

When the data is received from the server, it will either be in a JSON or XML format. The connector reformats the data in pandas Dataframe for the convenience of downstream operations.

As an example, let's try to fetch some data on Stock Fundamentals, Stock Estimates, Technical Analysis, Economic Data and more!

#### Stock Fundamentals

In [5]:
# category = general/forex/crypto/merger
df = dc.query('general_news', category='crypto')
df

,category,datetime,headline,id,image,related,source,summary,url
0,crypto,1595366450,Bitcoiners Are Not Looking for a Store of Valu...,5012674,https://res.cloudinary.com/whirlpooldata/image...,,Cointelegraph,Although Bitcoin holders often describe the as...,https://cointelegraph.com/news/bitcoiners-are-...
1,crypto,1595366367,Grayscale Moves to List Bitcoin Cash and Litec...,5012788,https://static.coindesk.com/wp-content/uploads...,,CoinDesk,Bitcoin Cash Trust and Litecoin Trust will car...,https://www.coindesk.com/grayscale-moves-to-li...
2,crypto,1595365320,China Considers Implementing Blockchain Tech i...,5012675,https://res.cloudinary.com/whirlpooldata/image...,,Cointelegraph,China’s Securities Regulatory Commission allow...,https://cointelegraph.com/news/china-considers...
3,crypto,1595363296,"Market Wrap: Bitcoin Briefly Pops Above $9,400...",5012557,https://static.coindesk.com/wp-content/uploads...,,CoinDesk,"Bitcoin broke through $9,400 as stock indices ...",https://www.coindesk.com/market-wrap-bitcoin-b...
4,crypto,1595362170,ERX Gets License to Launch Exchange in Thailand,5012439,https://static.coindesk.com/wp-content/uploads...,,CoinDesk,Thailand’s securities watchdog has granted a d...,https://www.coindesk.com/erx-gets-license-to-l...
5,crypto,1595361488,Over 7M Americans Own BTC But Hold None In Ret...,5012440,https://res.cloudinary.com/whirlpooldata/image...,,Cointelegraph,Millions of U.S. citizens own both Bitcoin and...,https://cointelegraph.com/news/over-7m-america...
6,crypto,1595360640,Ethereum ‘Flippens’ Stablecoins to Become the ...,5012336,https://res.cloudinary.com/whirlpooldata/image...,,Cointelegraph,Increasing stablecoin use and the rise of DeFi...,https://cointelegraph.com/news/ethereum-flippe...
7,crypto,1595358600,Why Did LocalBitcoins Give Up Their Users’ Pri...,5012230,https://res.cloudinary.com/whirlpooldata/image...,,Cointelegraph,LocalBitcoins COO Elena Tonoyan explains how t...,https://cointelegraph.com/news/why-did-localbi...
8,crypto,1595358000,What’s Behind the Fed’s New Push to Promote In...,5012229,https://static.coindesk.com/wp-content/uploads...,,CoinDesk,Why the Fed’s strategy on inflation is changin...,https://www.coindesk.com/whats-behind-the-feds...
9,crypto,1595356862,Russia to Treat Crypto as a Taxable Property,5012121,https://static.coindesk.com/wp-content/uploads...,,CoinDesk,Russia changed its draft bill regulating crypt...,https://www.coindesk.com/russia-to-treat-crypt...
10,crypto,1595356560,Kazakhstan Needs National Crypto to Fight Corr...,5012122,https://res.cloudinary.com/whirlpooldata/image...,,Cointelegraph,Kazakhstan’s digital tenge has the potential t...,https://cointelegraph.com/news/kazakhstan-need...
11,crypto,1595353094,July’s Decentralized Exchange Volumes Have Alr...,5011898,https://static.coindesk.com/wp-content/uploads...,,CoinDesk,"DEX trading volume already beat June's record,...",https://www.coindesk.com/julys-decentralized-e...
12,crypto,1595351340,Could Compound’s Governance Token COMP Be Deem...,5011789,https://res.cloudinary.com/whirlpooldata/image...,,Cointelegraph,Examining COMP’s ability to pass the Howey tes...,https://cointelegraph.com/news/could-compounds...
13,crypto,1595350380,Sizeable Portion of Tether’s $4.5B Growth Come...,5011686,https://res.cloudinary.com/whirlpooldata/image...,,Cointelegraph,Tether rose quickly to $9.1 billion in 2020 as...,https://cointelegraph.com/news/sizeable-portio...
14,crypto,1595349331,Blockchain Bites: China’s BSN Integrations and...,5011682,https://static.coindesk.com/wp-content/uploads...,,CoinDesk,Ethereum Classic supporters are ditching the p...,https://www.coindesk.com/blockchain-bites-chin...
15,crypto,1595348280,Crypto Scammer Sentenced by South Korean Autho...,5011568,https://res.cloudinary.com/whirlpooldata/image...,,Cointelegraph,Man sentenced to two years and six months in p...,https://cointelegraph.com/news/crypto-scammer-...
16,crypto,1595347920,Bitcoin Volatility Hits 2018 Lows but Is a Rep...,5011569,https://res.cloudinary.com/whirlpooldata/image...,,Cointelegraph,Traders remain cautious as Bitcoin’s current l...,https://cointelegraph.com/news/bitcoin-volatil...
17,crypto,1595347706,Blockchain Fintech Firm BitBond Joins German B...,5011566,https://static.coindesk.com/wp-content/uploads...,,CoinDesk,The Berlin-based fintech firm announced on Tue...,https://www.coindesk.com/blockchain-fintech-fi...
18,crypto,1595347200,Crypto Tax Disclosures Can Help With Internal ...,5011570,https://res.cloudinary.com/whirlpooldata/image...,,Cointelegraph,Disclosure sounds like it exposes you to extra...,https://cointelegraph.com/news/crypto-tax-disc...
19,crypto,1595347200,"Bitcoin News Roundup for July 21, 2020",5011567,https://static.coindesk.com/wp-content/uploads...,,CoinDesk,With the price of BTC catching a bid in early ...,https://www.coindesk.com/bitcoin-news-roundup-...

In [6]:
df = dc.query('company_news', symbol='AAPL', from_='2020-04-30', to='2020-05-01')
df

,category,datetime,headline,id,image,related,source,summary,url
0,company,1588377600,WhatsApp Suddenly Gets Powerful New Security B...,691320,https://thumbor.forbes.com/thumbor/fit-in/1200...,AAPL,https://www.forbes.com,WhatsApp has been seriously boosted this week—...,https://www.forbes.com/sites/zakdoffman/2020/0...
1,company,1588377600,2020 iPhone Alert: Apple’s New Price Changes R...,691319,https://thumbor.forbes.com/thumbor/fit-in/1200...,AAPL,https://www.forbes.com,Apple's most exciting iPhone 12 change is a sh...,https://www.forbes.com/sites/gordonkelly/2020/...
2,company,1588377600,Forget Google—Huawei Plans A Killer New Update...,691318,https://thumbor.forbes.com/thumbor/fit-in/1200...,AAPL,https://www.forbes.com,Is this enough to make you switch away from Go...,https://www.forbes.com/sites/zakdoffman/2020/0...
3,company,1588377600,Apple Watch Series 6 Leak Details 5 Great Inno...,687591,https://thumbor.forbes.com/thumbor/fit-in/1200...,AAPL,https://www.forbes.com,"A leak, confirmed by one of the hottest tipste...",https://www.forbes.com/sites/davidphelan/2020/...
4,company,1588377600,Market Slides More Than 2% to Begin May,666265,https://i-invdn-com.akamaized.net/redesign/ima...,AAPL,investing,Stocks Analysis by Zacks Investment Research c...,https://www.investing.com/analysis/market-slid...
...,...,...,...,...,...,...,...,...,...
195,company,1588331305,Futures slide as Trump threatens new tariffs o...,20617,https://s3.reutersmedia.net/resources/r/?m=02&...,AAPL,reuters,U.S. stock index futures slid on Friday after ...,https://www.reuters.com/article/us-usa-stocks/...
196,company news,1588331100,Apple Just Announced a Dividend Increase,629449,https://g.foolcdn.com/editorial/images/570752/...,AAPL,FOOL,The dividend hike during this pandemic demonst...,https://www.fool.com/investing/2020/05/01/appl...
197,company,1588330811,Bitcoin Rises Back to $8.8K Even as US Stock F...,691450,https://static.coindesk.com/wp-content/uploads...,AAPL,https://www.coindesk.com,"While bitcoin is rising so far on Friday, the ...",https://www.coindesk.com/bitcoin-rises-8-8k-fu...
198,company,1588330698,US STOCKS-Futures slide as Trump threatens new...,20582,https://s4.reutersmedia.net/resources_v2/image...,AAPL,reuters,U.S. stock index futures slid on Friday after ...,https://www.reuters.com/article/usa-stocks/us-...
199,company news,1588330614,FX Daily: Treading Carefully With Risk,629451,https://d1ty0e8cxefhfl.cloudfront.net/contribu...,AAPL,TALKMARKETS,With the S&P 500 seemingly stalling at a 62% t...,https://talkmarkets.com/content/us-markets/fx-...

In [7]:
df = dc.query('filings', symbol='AAPL')
df

,accessNumber,symbol,cik,form,filedDate,acceptedDate,reportUrl,filingUrl
0,0000320193-20-000056,AAPL,320193,4,2020-05-12 00:00:00,2020-05-12 18:30:32,https://www.sec.gov/Archives/edgar/data/320193...,https://www.sec.gov/Archives/edgar/data/320193...
1,0001193125-20-139112,AAPL,320193,8-K,2020-05-11 00:00:00,2020-05-11 16:31:15,https://www.sec.gov/ix?doc=/Archives/edgar/dat...,https://www.sec.gov/Archives/edgar/data/320193...
2,0001193125-20-133777,AAPL,320193,424B2,2020-05-05 00:00:00,2020-05-05 16:31:51,https://www.sec.gov/Archives/edgar/data/320193...,https://www.sec.gov/Archives/edgar/data/320193...
3,0001193125-20-132661,AAPL,320193,FWP,2020-05-05 00:00:00,2020-05-04 19:01:03,https://www.sec.gov/Archives/edgar/data/320193...,https://www.sec.gov/Archives/edgar/data/320193...
4,0001193125-20-131780,AAPL,320193,424B2,2020-05-04 00:00:00,2020-05-04 08:13:55,https://www.sec.gov/Archives/edgar/data/320193...,https://www.sec.gov/Archives/edgar/data/320193...
...,...,...,...,...,...,...,...,...
245,9999999997-14-000040,AAPL,320193,NO ACT,2013-12-17 00:00:00,2014-01-08 11:47:13,https://www.sec.gov/Archives/edgar/data/320193...,https://www.sec.gov/Archives/edgar/data/320193...
246,0001193125-13-486406,AAPL,320193,PRE 14A,2013-12-27 00:00:00,2013-12-27 17:01:57,https://www.sec.gov/Archives/edgar/data/320193...,https://www.sec.gov/Archives/edgar/data/320193...
247,0001181431-13-064578,AAPL,320193,4,2013-12-26 00:00:00,2013-12-26 18:32:35,https://www.sec.gov/Archives/edgar/data/320193...,https://www.sec.gov/Archives/edgar/data/320193...
248,0000928464-13-000275,AAPL,320193,DFAN14A,2013-12-04 00:00:00,2013-12-04 15:37:31,https://www.sec.gov/Archives/edgar/data/320193...,https://www.sec.gov/Archives/edgar/data/320193...
249,0001193125-13-416534,AAPL,320193,10-K,2013-10-30 00:00:00,2013-10-29 20:38:28,https://www.sec.gov/Archives/edgar/data/320193...,https://www.sec.gov/Archives/edgar/data/320193...

In [8]:
df = dc.query('ipo_calender', from_='2020-01-01', to='2020-04-30')
df

,date,exchange,name,numberOfShares,price,status,symbol,totalSharesValue
0,2020-04-30,None,Vontier Corp,NaN,None,withdrawn,None,NaN
1,2020-04-30,NYSE,Fortress Value Acquisition Corp.,30000000.0,10.00,priced,FVACU,300000000.0
2,2020-04-28,NYSE,Social Capital Hedosophia Holdings Corp. II,36000000.0,10.00,priced,IPOBU,360000000.0
3,2020-04-24,None,"Father Time, Inc.",NaN,None,withdrawn,None,NaN
4,2020-04-24,None,"SeqLL, Inc.",NaN,None,withdrawn,None,NaN
...,...,...,...,...,...,...,...,...
77,2020-01-08,None,"ARDENT HEALTH PARTNERS, LLC",NaN,None,withdrawn,None,NaN
78,2020-01-06,None,"ARCUTIS BIOTHERAPEUTICS, INC.",NaN,None,filed,ARQT,159375000.0
79,2020-01-03,None,"BLACK DIAMOND THERAPEUTICS, INC.",NaN,None,filed,BDTX,201140004.0
80,2020-01-03,None,1LIFE HEALTHCARE INC,NaN,None,filed,ONEM,245000000.0
81,2020-01-02,None,"AVADIM HEALTH, INC.",NaN,None,filed,AHI,92000000.0

#### Stock Estimates

In [9]:
df = dc.query('recommendations', symbol='AAPL')
df

    buy  hold      period  sell  strongBuy  strongSell symbol
0    24     7  2020-07-01     0         13           0   AAPL
1    19    10  2020-06-01     2         15           0   AAPL
2    18    13  2020-05-01     2         14           0   AAPL
3    13    19  2020-04-01     3         15           0   AAPL
4    13    19  2020-03-01     3         15           0   AAPL
5    13    19  2020-02-01     3         15           0   AAPL
6    13    19  2020-01-01     3         15           0   AAPL
7    13    19  2019-12-01     3         15           0   AAPL
8    13    19  2019-11-01     3         15           0   AAPL
9    13    19  2019-10-01     3         15           0   AAPL
10   13    19  2019-09-01     3         15           0   AAPL
11   13    19  2019-08-01     3         15           0   AAPL
12   13    19  2019-07-01     3         15           0   AAPL
13   10    20  2019-06-01     2         15           0   AAPL
14   10    22  2019-05-01     1         15           0   AAPL
15   10    22  2019-04-01     1         15           0   AAPL
16   10    22  2019-03-01     1         15           0   AAPL
17   10    22  2019-02-01     1         15           0   AAPL
18   14    18  2019-01-01     0         17           0   AAPL

In [10]:
df = dc.query('earnings', symbol='AAPL')
df

   actual  estimate      period symbol
0    2.55    2.3052  2020-03-31   AAPL
1    4.99    4.6410  2019-12-31   AAPL
2    3.03    2.8968  2019-09-30   AAPL
3    2.18    2.1420  2019-06-30   AAPL

In [11]:
df = dc.query('earnings_calender', from_="2020-03-12", to="2020-03-15")
df

,date,epsActual,epsEstimate,hour,quarter,revenueActual,revenueEstimate,symbol,year
0,2020-03-13,-0.04,0.000000,bmo,4,0.000000e+00,2.631100e+08,AGRO,2019
1,2020-03-13,0.00,0.000000,bmo,4,0.000000e+00,0.000000e+00,CBPO,2019
2,2020-03-13,0.00,0.000000,amc,1,0.000000e+00,0.000000e+00,CHN,2020
3,2020-03-13,0.06,-0.040800,bmo,4,6.077000e+06,6.129000e+06,CREX,2019
4,2020-03-13,0.08,0.092137,dmh,4,3.431700e+07,3.329900e+07,DLNG,2019
...,...,...,...,...,...,...,...,...,...
234,2020-03-12,5.25,5.436926,amc,1,5.858000e+09,5.999317e+09,AVGO,2020
235,2020-03-12,-0.10,0.035700,amc,4,2.161000e+07,1.716725e+07,ASUR,2019
236,2020-03-12,0.00,0.173400,amc,4,0.000000e+00,2.631100e+08,AGRO,2019
237,2020-03-12,-0.60,0.143055,amc,4,6.097000e+07,6.124400e+07,AGFS,2019
238,2020-03-12,2.20,2.271326,amc,1,3.091000e+09,3.044629e+09,ADBE,2020

#### Technical Analysis

In [12]:
df = dc.query('patterns', symbol='AAPL', resolution='D')
df

,aprice,atime,bprice,btime,cprice,ctime,dprice,dtime,end_price,end_time,...,patterntype,profit1,profit2,sortTime,start_price,start_time,status,stoploss,symbol,terminal
0,233.6335,1585008000,251.396824,1585008000,246.804452,1585526400,264.567776,1585526400,NaN,NaN,...,bearish,229.0000,161.5,1585526400,NaN,NaN,failed,264.6000,AAPL.US,0.0
1,326.2085,1580256000,300.657900,1580688000,326.336700,1581465600,0.000000,0,300.6579,1.582502e+09,...,bearish,274.9791,0.0,1582502400,300.6579,1.578442e+09,successful,328.9046,AAPL.US,0.0

#### Alternative Data

In [13]:
df = dc.query('covid19')
df

                        state    case  death              updated
0                    New York  413315  32520  2020-07-21 18:01:06
1                  New Jersey  177256  15826  2020-07-21 18:01:06
2                  California  401148   7788  2020-07-21 18:01:06
3                    Michigan   83059   6382  2020-07-21 18:01:06
4                     Florida  369834   5206  2020-07-21 18:01:06
..                        ...     ...    ...                  ...
57              Wuhan Evacuee       4      0  2020-07-21 18:01:06
58   Northern Mariana Islands      31      2  2020-07-21 18:01:06
59                US Military   31418     48  2020-07-21 18:01:06
60  Federal Bureau of Prisons   10811     99  2020-07-21 18:01:06
61             Veteran Affair   33295   1927  2020-07-21 18:01:06

[62 rows x 4 columns]

#### Economic Data

In [14]:
df = dc.query('countries')
df

,country,code2,code3,codeNo,currency,currencyCode
0,Nauru,NR,NRU,520,Australian Dollars,AUD
1,Saint Martin (French part),MF,MAF,663,Netherlands Antillean guilder,ANG
2,Georgia,GE,GEO,268,Lari,GEL
3,Antarctica,AQ,ATA,10,Antarctican dollar,AQD
4,Saint Vincent and the Grenadines,VC,VCT,670,East Caribbean Dollar,XCD
...,...,...,...,...,...,...
244,Cook Islands (the),CK,COK,184,New Zealand Dollars,NZD
245,Peru,PE,PER,604,Nuevo Sol,PEN
246,Martinique,MQ,MTQ,474,Euros,EUR
247,Senegal,SN,SEN,686,CFA Franc BCEAO,XOF
248,Montenegro,ME,MNE,499,Euro,EUR

In [15]:
df = dc.query('economic_calender')
df

,actual,country,estimate,event,impact,prev,time,unit
0,2.4,GB,NaN,United Kingdom-Rightmove House Prices-House Pr...,low,-0.200,2020-07-19 23:01:00,%
1,3.7,GB,NaN,United Kingdom-Rightmove House Prices-House Pr...,low,2.100,2020-07-19 23:01:00,%
2,-26.2,JP,-24.9,Japan-Trade-Exports YY,low,-28.300,2020-07-19 23:50:00,%
3,-14.4,JP,-16.8,Japan-Trade-Imports YY,low,-26.200,2020-07-19 23:50:00,%
4,-268.8,JP,-35.8,Japan-Trade-Trade Balance Total Yen,low,-838.200,2020-07-19 23:50:00,JPY
...,...,...,...,...,...,...,...,...
180,NaN,US,NaN,United States-API OIL STOCKS-API weekly crude ...,low,7.544,2020-07-28 20:30:00,Number of
181,NaN,US,NaN,United States-API OIL STOCKS-API weekly dist. ...,low,-1.357,2020-07-28 20:30:00,Number of
182,NaN,US,NaN,United States-API OIL STOCKS-API weekly gasoli...,low,-2.019,2020-07-28 20:30:00,Number of
183,NaN,US,NaN,United States-API OIL STOCKS-API weekly heatin...,low,0.112,2020-07-28 20:30:00,Number of
184,NaN,US,NaN,United States-API OIL STOCKS-API weekly produc...,low,0.167,2020-07-28 20:30:00,Number of

# That's all for now. 
If you are interested in writing your own configuration file or modify an existing one, refer to the [Configuration Files](https://github.com/sfu-db/DataConnectorConfigs>).