# Connector for Finnhub 

In this example, we will be going over how to use Connector with Finnhub.

## Prerequisites

Connector is a component in the DataPrep library that aims to simplify data access by providing a standard API set. The goal is to help users skip the complex API configuration. In this tutorial, we demonstrate how to use the connector component with Finnhub.

If you haven't installed DataPrep, run command `!pip install dataprep` or execute the following cell.

In [ ]:
# Run me if you'd like to install
!pip install dataprep

# Download and store the configuration files in DataPrep. 

The configuration files are used to configure the parameters and initial setup for the API. The available configuration files can be manually downloaded here: [Configuration Files](https://github.com/sfu-db/DataConnectorConfigs) or automatically downloaded at usage. 

Store the configuration file in the dataprep folder.

# Obtaining access token from Finnhub

1. In order for the Finnhub API to work, you need to create an account on the website to get an API key. Create an account [here](https://finnhub.io/register) with your email address. 


2. Upon registering yourself on Finnhub, you will be redirected automatically to the [Finnhub Dashboard](https://finnhub.io/dashboard) where you can view your API key. This API key will be used to access data from Finnhub using Connector.

# Initialize connector

Copy and paste your API key as the value for the **auth_token** variable. Ensure the **API name** argument is correct. This establishes a connection with Twitter and returns an object. Once you run the code you can use the built in functions available from connector.

In [ ]:
from dataprep.connector import connect, info

auth_token = '<insert API key>'
dc = connect('finnhub', _auth={"access_token":auth_token})

dc

# Functionalities

Connector has several functions you can perform to gain insight on the data downloaded from Finnhub.

### Connector.info
The info method gives information and guidelines on using the connector. There are 4 sections in the response and they are table, parameters, example and schema.

>1. Table - The table(s) being accessed.
>2. Parameters - Identifies which parameters can be used to call the method.
>3. Examples - Shows how you can call the methods in the Connector class.
>4. Schema - Names and data types of attributes in the response.

In [2]:
info('finnhub')

### Connector.query
The query method downloads the website data and displays it in a Dataframe. The parameters must meet the requirements as indicated in connector.info for the operation to run.

When the data is received from the server, it will either be in a JSON or XML format. The connector reformats the data in pandas Dataframe for the convenience of downstream operations.

As an example, let's try to fetch some data on Stock Fundamentals, Stock Estimates, Technical Analysis, Economic Data and more!

#### Stock Fundamentals

In [4]:
# category = general/forex/crypto/merger
df = await dc.query('general_news', category='crypto')
df

,category,datetime,headline,id,image,related,source,summary,url
0,crypto,1607030879,Bitcoin a ‘Potential Store of Value’ That’s Ve...,5700144,https://static.coindesk.com/wp-content/uploads...,,CoinDesk,Many investors aspire to hold bitcoin as a sto...,https://www.coindesk.com/bitcoin-potential-sto...
1,crypto,1607030315,Analysts say surging Bitcoin whale inflows hei...,5700024,https://res.cloudinary.com/whirlpooldata/image...,,Cointelegraph,Bitcoin whale inflows are increasing as the pr...,https://cointelegraph.com/news/analysts-say-su...
2,crypto,1607028463,SEC Makes FinHub a Stand-Alone Office,5699915,https://static.coindesk.com/wp-content/uploads...,,CoinDesk,The reorganization strengthens FinHub's hand i...,https://www.coindesk.com/sec-finhub-office
3,crypto,1607026785,OKEx’s Trading Volumes and Tether Reserve Plun...,5699916,https://static.coindesk.com/wp-content/uploads...,,CoinDesk,A sharp drop in OKEx’s trading volume and stab...,https://www.coindesk.com/okex-volume-tether-re...
4,crypto,1607025999,"SEC's fintech wing leaves the nest, becoming s...",5699806,https://res.cloudinary.com/whirlpooldata/image...,,Cointelegraph,FinHub will have new independence and responsi...,https://cointelegraph.com/news/sec-s-fintech-w...
...,...,...,...,...,...,...,...,...,...
95,crypto,1606905052,Dusk Network Takes ‘Around 10%’ Stake in Dutch...,5692379,https://static.coindesk.com/wp-content/uploads...,,CoinDesk,Security token platform Dusk Network has becom...,https://www.coindesk.com/blockchain-startup-du...
96,crypto,1606903496,Russian central bank opposes ruble-pegged stab...,5692276,https://res.cloudinary.com/whirlpooldata/image...,,Cointelegraph,Russia wants to follow China’s approach of ban...,https://cointelegraph.com/news/russian-central...
97,crypto,1606901560,Crypto.com Secures Australian Financial Servic...,5692166,https://static.coindesk.com/wp-content/uploads...,,CoinDesk,Crypto.com has secured an Australian Financia...,https://www.coindesk.com/crypto-com-secures-au...
98,crypto,1606899792,NYDIG raises $150 million for two Bitcoin inve...,5692062,https://res.cloudinary.com/whirlpooldata/image...,,Cointelegraph,Bitcoin is becoming an increasingly “instituti...,https://cointelegraph.com/news/nydig-raises-15...
99,crypto,1606899600,Bitcoin hitting $200K by December 2021 is now ...,5692063,https://res.cloudinary.com/whirlpooldata/image...,,Cointelegraph,"BTC/USD is more likely to reach $300,000 in a ...",https://cointelegraph.com/news/bitcoin-hitting...

In [5]:
df = await dc.query('company_news', symbol='AAPL', from_='2020-04-01', to='2020-05-01')
df

,category,datetime,headline,id,image,related,source,summary,url
0,company,1588377600,WhatsApp Suddenly Gets Powerful New Security B...,691320,https://thumbor.forbes.com/thumbor/fit-in/1200...,AAPL,https://www.forbes.com,WhatsApp has been seriously boosted this week—...,https://www.forbes.com/sites/zakdoffman/2020/0...
1,company,1588377600,2020 iPhone Alert: Apple’s New Price Changes R...,691319,https://thumbor.forbes.com/thumbor/fit-in/1200...,AAPL,https://www.forbes.com,Apple's most exciting iPhone 12 change is a sh...,https://www.forbes.com/sites/gordonkelly/2020/...
2,company,1588377600,Forget Google—Huawei Plans A Killer New Update...,691318,https://thumbor.forbes.com/thumbor/fit-in/1200...,AAPL,https://www.forbes.com,Is this enough to make you switch away from Go...,https://www.forbes.com/sites/zakdoffman/2020/0...
3,company,1588377600,Apple Watch Series 6 Leak Details 5 Great Inno...,687591,https://thumbor.forbes.com/thumbor/fit-in/1200...,AAPL,https://www.forbes.com,"A leak, confirmed by one of the hottest tipste...",https://www.forbes.com/sites/davidphelan/2020/...
4,company,1588377600,Market Slides More Than 2% to Begin May,666265,https://i-invdn-com.akamaized.net/redesign/ima...,AAPL,investing,Stocks Analysis by Zacks Investment Research c...,https://www.investing.com/analysis/market-slid...
...,...,...,...,...,...,...,...,...,...
195,company,1588333335,"BUZZ-U.S. STOCKS ON THE MOVE-Medigus Ltd, West...",61097129,https://www.nasdaq.com/sites/acquia.prod/files...,AAPL,Nasdaq,A compilation of the most active stocks on U.S...,https://www.nasdaq.com/articles/buzz-u.s.-stoc...
196,company news,1588333335,"BUZZ-U.S. STOCKS ON THE MOVE-Medigus Ltd, West...",59361466,https://www.nasdaq.com/sites/acquia.prod/files...,AAPL,Nasdaq,A compilation of the most active stocks on U.S...,https://www.nasdaq.com//articles/buzz-u.s.-sto...
197,company,1588333261,U.S. Stock Futures Sink After Tech Giants Repo...,24814,https://img.zonebourse.com/reuters/2016-12-22T...,AAPL,marketscreener,,https://www.marketscreener.com/news/U-S-Stock-...
198,company news,1588333173,Take Buffett’s Advice: 5 Vanguard Funds to Buy,629385,https://investorplace.com/wp-content/uploads/2...,AAPL,INVESTORPLACE,Warren Buffett believes index funds are the wa...,https://investorplace.com/2020/05/5-vanguard-f...
199,company,1588333111,3 Takeaways from Apple’s Strong Q2 Earnings Re...,5786251,https://marketrealist.imgix.net/uploads/2020/0...,AAPL,https://marketrealist.com,Apple’s earnings report delivers good news for...,https://marketrealist.com/2020/05/3-takeaways-...

In [6]:
df = await dc.query('filings', symbol='AAPL')
df

,accessNumber,symbol,cik,form,filedDate,acceptedDate,reportUrl,filingUrl
0,0000320193-20-000101,AAPL,320193,4,2020-11-17 00:00:00,2020-11-17 18:30:43,https://www.sec.gov/Archives/edgar/data/320193...,https://www.sec.gov/Archives/edgar/data/320193...
1,0000320193-20-000099,AAPL,320193,4,2020-11-05 00:00:00,2020-11-05 18:30:55,https://www.sec.gov/Archives/edgar/data/320193...,https://www.sec.gov/Archives/edgar/data/320193...
2,0000320193-20-000094,AAPL,320193,8-K,2020-10-29 00:00:00,2020-10-29 16:30:32,https://www.sec.gov/ix?doc=/Archives/edgar/dat...,https://www.sec.gov/Archives/edgar/data/320193...
3,0000320193-20-000090,AAPL,320193,4,2020-10-19 00:00:00,2020-10-19 18:32:33,https://www.sec.gov/Archives/edgar/data/320193...,https://www.sec.gov/Archives/edgar/data/320193...
4,0000320193-20-000089,AAPL,320193,4,2020-10-19 00:00:00,2020-10-19 18:30:33,https://www.sec.gov/Archives/edgar/data/320193...,https://www.sec.gov/Archives/edgar/data/320193...
...,...,...,...,...,...,...,...,...
245,0001181431-14-032543,AAPL,320193,4,2014-09-23 00:00:00,2014-09-23 18:34:20,https://www.sec.gov/Archives/edgar/data/320193...,https://www.sec.gov/Archives/edgar/data/320193...
246,0001181431-14-032241,AAPL,320193,4,2014-09-17 00:00:00,2014-09-17 18:33:17,https://www.sec.gov/Archives/edgar/data/320193...,https://www.sec.gov/Archives/edgar/data/320193...
247,0001193125-14-277193,AAPL,320193,8-K,2014-07-23 00:00:00,2014-07-23 16:44:58,https://www.sec.gov/Archives/edgar/data/320193...,https://www.sec.gov/Archives/edgar/data/320193...
248,0001193125-14-277160,AAPL,320193,10-Q,2014-07-23 00:00:00,2014-07-23 16:32:48,https://www.sec.gov/Archives/edgar/data/320193...,https://www.sec.gov/Archives/edgar/data/320193...
249,0001193125-14-275598,AAPL,320193,8-K,2014-07-22 00:00:00,2014-07-22 16:31:08,https://www.sec.gov/Archives/edgar/data/320193...,https://www.sec.gov/Archives/edgar/data/320193...

In [7]:
df = await dc.query('ipo_calender', from_='2020-01-01', to='2020-04-30')
df

,date,exchange,name,numberOfShares,price,status,symbol,totalSharesValue
0,2020-04-30,None,Vontier Corp,NaN,None,withdrawn,None,NaN
1,2020-04-30,NYSE,Fortress Value Acquisition Corp.,30000000.0,10.00,priced,FVACU,300000000.0
2,2020-04-28,NYSE,Social Capital Hedosophia Holdings Corp. II,36000000.0,10.00,priced,IPOBU,360000000.0
3,2020-04-24,None,"Father Time, Inc.",NaN,None,withdrawn,None,NaN
4,2020-04-24,None,"SeqLL, Inc.",NaN,None,withdrawn,None,NaN
...,...,...,...,...,...,...,...,...
73,2020-01-08,None,"Ardent Health Partners, LLC",NaN,None,withdrawn,None,NaN
74,2020-01-06,None,"Arcutis Biotherapeutics, Inc.",NaN,None,filed,ARQT,159375000.0
75,2020-01-03,None,"Black Diamond Therapeutics, Inc.",NaN,None,filed,BDTX,201140004.0
76,2020-01-03,None,1life Healthcare Inc,NaN,None,filed,ONEM,245000000.0
77,2020-01-02,None,"AVADIM HEALTH, INC.",NaN,None,filed,AHI,92000000.0

#### Stock Estimates

In [8]:
df = await dc.query('recommendations', symbol='AAPL')
df

    buy  hold      period  sell  strongBuy  strongSell symbol
0    24     7  2020-11-01     0         13           0   AAPL
1    18    11  2020-10-01     1         13           2   AAPL
2    19    10  2020-09-01     2         13           2   AAPL
3    13    19  2020-08-01     3         15           0   AAPL
4    13    19  2020-07-01     3         15           0   AAPL
5    13    19  2020-06-01     3         15           0   AAPL
6    20     8  2020-05-01     3         14           0   AAPL
7    13    19  2020-04-01     3         15           0   AAPL
8    13    19  2020-03-01     3         15           0   AAPL
9    13    19  2020-02-01     3         15           0   AAPL
10   13    19  2020-01-01     3         15           0   AAPL
11   13    19  2019-12-01     3         15           0   AAPL
12   13    19  2019-11-01     3         15           0   AAPL
13   13    19  2019-10-01     3         15           0   AAPL
14   13    19  2019-09-01     3         15           0   AAPL
15   13    19  2019-08-01     3         15           0   AAPL
16   13    19  2019-07-01     3         15           0   AAPL
17   10    20  2019-06-01     2         15           0   AAPL
18   10    22  2019-05-01     1         15           0   AAPL
19   10    22  2019-04-01     1         15           0   AAPL
20   10    22  2019-03-01     1         15           0   AAPL
21   10    22  2019-02-01     1         15           0   AAPL
22   14    18  2019-01-01     0         17           0   AAPL
23   14    17  2018-12-01     0         16           0   AAPL
24   16    14  2018-11-01     0         19           0   AAPL
25   16    15  2018-10-01     0         17           0   AAPL
26   15    15  2018-09-01     0         17           0   AAPL
27   16    15  2018-08-01     0         15           0   AAPL
28   16    16  2018-07-01     0         15           0   AAPL
29   17    16  2018-06-01     0         15           0   AAPL
30   19    15  2018-05-01     0         15           0   AAPL
31   19    14  2018-04-01     0         13           0   AAPL

In [10]:
df = await dc.query('earnings', symbol='AAPL')
df

   actual  estimate      period symbol
0    0.73    0.7140  2020-09-30   AAPL
1    0.64    0.5202  2020-06-30   AAPL
2    0.64    0.5712  2020-03-31   AAPL
3    1.25    1.1628  2019-12-31   AAPL

In [11]:
df = await dc.query('earnings_calender', from_="2020-03-12", to="2020-03-15")
df

,date,epsActual,epsEstimate,hour,quarter,revenueActual,revenueEstimate,symbol,year
0,2020-03-13,-0.030,0.000000,amc,4,0.000000e+00,0.000000e+00,THCB,2019
1,2020-03-13,0.073,0.000000,amc,4,5.216000e+06,0.000000e+00,PER,2019
2,2020-03-13,-0.010,0.000000,amc,4,0.000000e+00,0.000000e+00,GMHI,2019
3,2020-03-13,-0.270,0.000000,amc,4,1.110000e+05,0.000000e+00,CDZI,2019
4,2020-03-13,0.230,0.000000,amc,4,1.036000e+07,0.000000e+00,PICO,2019
...,...,...,...,...,...,...,...,...,...
215,2020-03-12,5.250,5.928546,amc,1,5.858000e+09,6.090000e+09,AVGO,2020
216,2020-03-12,-0.100,0.051000,amc,4,2.161000e+07,1.742755e+07,ASUR,2019
217,2020-03-12,-0.040,0.056355,amc,4,2.519910e+08,2.670566e+08,AGRO,2019
218,2020-03-12,0.090,0.079815,amc,4,6.097000e+07,6.215860e+07,AGFS,2019
219,2020-03-12,2.270,2.691739,amc,1,3.091000e+09,3.095750e+09,ADBE,2020

#### Technical Analysis

In [12]:
df = await dc.query('patterns', symbol='AAPL', resolution='D')
df

,aprice,atime,bprice,btime,cprice,ctime,dprice,dtime,end_price,end_time,...,patterntype,profit1,profit2,sortTime,start_price,start_time,status,stoploss,symbol,terminal
0,103.099998,1600646400,112.860001,1600732800,105.000000,1600905600,0.000000,0,112.860001,1.601251e+09,...,bullish,122.620003,0.000000,1601251200,112.860001,1.600214e+09,successful,102.123998,AAPL.US,0.0
1,99.250000,1595289600,91.341139,1595289600,95.581434,1595894400,87.672573,1595894400,NaN,NaN,...,bullish,103.490295,125.581434,1595894400,NaN,NaN,success,87.672573,AAPL.US,0.0

#### Alternative Data

In [13]:
df = await dc.query('covid19')
df

                        state     case  death              updated
0                    New York   660798  34294  2020-12-02 13:11:21
1                  New Jersey   344387  17215  2020-12-02 13:11:21
2                  California  1246276  19320  2020-12-02 13:11:21
3                    Michigan   395453   9761  2020-12-02 13:11:21
4                     Florida  1008166  18682  2020-12-02 13:11:21
..                        ...      ...    ...                  ...
57              Wuhan Evacuee        4      0  2020-12-02 13:11:21
58   Northern Mariana Islands       31      2  2020-12-02 13:11:21
59                US Military   117736    129  2020-12-02 13:11:21
60  Federal Bureau of Prisons    28895    147  2020-12-02 13:11:21
61             Veteran Affair   112894   5022  2020-12-02 13:11:21

[62 rows x 4 columns]

#### Economic Data

In [14]:
df = await dc.query('countries')
df

,country,code2,code3,codeNo,currency,currencyCode
0,Nauru,NR,NRU,520,Australian Dollars,AUD
1,Saint Martin (French part),MF,MAF,663,Netherlands Antillean guilder,ANG
2,Georgia,GE,GEO,268,Lari,GEL
3,Antarctica,AQ,ATA,10,Antarctican dollar,AQD
4,Saint Vincent and the Grenadines,VC,VCT,670,East Caribbean Dollar,XCD
...,...,...,...,...,...,...
244,Cook Islands (the),CK,COK,184,New Zealand Dollars,NZD
245,Peru,PE,PER,604,Nuevo Sol,PEN
246,Martinique,MQ,MTQ,474,Euros,EUR
247,Senegal,SN,SEN,686,CFA Franc BCEAO,XOF
248,Montenegro,ME,MNE,499,Euro,EUR

In [15]:
df = await dc.query('economic_calender')
df

,actual,country,estimate,event,impact,prev,time,unit
0,-6.90,NZ,NaN,NBNZ Business Outlook,low,-15.70,2020-11-30 00:00:00,Net balance
1,9.10,NZ,NaN,NBNZ Own Activity,low,4.70,2020-11-30 00:00:00,Net balance
2,0.30,AU,NaN,Housing Credit,low,0.40,2020-11-30 00:30:00,%
3,0.00,AU,NaN,Private Sector Credit,low,0.10,2020-11-30 00:30:00,%
4,2412.33,AU,NaN,Broad Money,low,2398.72,2020-11-30 00:30:00,AUD
...,...,...,...,...,...,...,...,...
448,NaN,US,NaN,4W Bill Auc - BTC,low,NaN,2020-12-10 20:00:00,Ratio
449,NaN,US,NaN,4W Bill Auc - HR,low,NaN,2020-12-10 20:00:00,%
450,NaN,US,NaN,4W Bill Auc - TA,low,NaN,2020-12-10 20:00:00,USD
451,NaN,NZ,NaN,Manufacturing PMI,low,51.70,2020-12-10 21:30:00,Index (diffusion)
452,NaN,NZ,NaN,Food Price Index,low,-0.70,2020-12-10 21:45:00,%

# That's all for now. 
If you are interested in writing your own configuration file or modify an existing one, refer to the [Configuration Files](https://github.com/sfu-db/DataConnectorConfigs>).